{{#extends "base"}}
{{#block "title"}}Salon{{/block}}
{{#block "content"}}
    <h1>Salon</h1>
    <a href="/members" class="btn btn-primary">Members List</a>
    <a href="/appointments" class="btn btn-primary">Appointments List</a>
{{/block}}

{{/extends}}